
#footer{
   color:white;
    background-color: rgba(22, 21, 21, 0.8);
}

#imgoverlay{
    position: absolute;
    top: 150px;
    color: black;

}
#btn{
background-color: rgba(83, 85, 47, 0.859);
border: 1px solid whitesmoke;


}
#btn:hover{
    background-color: white;
    color: black;
}#cartIcon{
 color:black;
    margin-left: 15px;
}#profileIcon{
    color: white;
    margin-left: 15px;
}#image{
    width: 750px;
    margin: 20px;
    margin-bottom: 200px;
}.viewTitle{
    height: 500px;
    width: 600px;
    background-color: rgb(238, 238, 236);
}.button{
    text-decoration: none;
    color: rgb(8, 40, 115);
}.button:hover{

    text-decoration: underline;
}#cart-flex{
background-color: bisque;
    display: flex;
    justify-content: space-between;
}#cart-bg{
    background-color: rgb(135, 135, 125);
}#addToCartButton:hover{
color: rgb(0, 0, 0);

}
.inputproductsadmin{

border: 1px solid white;
border-radius: 1px;
    width: 85%;
}.inputproductsadmin:hover{
    border: 1px solid rgb(88, 127, 153);
    border-radius: 5px;
}#adminproducts{
    border: 20px;
}
/* .card__overlay{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    border-radius:  calc(var(--curve) * 1px);
    background-color: var (--surface-color);
    transform: translateY(100%);
    transition: .2s easein-out;

}
.card:hover .card__overlay{
    transform:translate(0);
}
.card__header{
    position:relative;
    display: flex;
    align-items:center;
    gap:2em;
    padding:2em;
    border-radius:calc(var(--curve)* 1px) 0 0 0;
    background-color:var(--surface-color);
    transform: translateY(-100%);
    transition:  .2s ease-in-out;
}.carc___arc{
    width:80 px ;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
} */
.my-card {
    width: 17rem;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .card-image {
    height: 280px;
    max-width: 300px;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card-button {
    margin-top: 10px;
  }
  




  h1    {
    font-size:35px;
    color:#141a06;
    font-weight:bold;
    /* font-style:italic; */
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}
#backImage{
    height: '100px';
    width: '100px';

    background-image:url('./src/Images/4735667.jpg');
}
#rightArrow:hover{
color: aliceblue;
}
.categorypart{

    background-color: bisque;
}